body {
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    height: 300px;
}

.child {
    background-color: red;
    height: 100px;
    width: 100px;
}

.child:hover {
    background-color: gray;
    border-radius: 100%;
    transition: 1s;
}